Allow use of query strings in redirect_uri

The validation introduced in #534 make it an error.

For our reference, [The Spec](https://tools.ietf.org/html/rfc6749#section-3.1.2) explicitly allows this:

```
   The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3.  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component.
```

